/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 90%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h4 {
  font-size: 1.5rem !important;
}

tr.mat-row,
tr.mat-footer-row {
  height: 55px !important;
}

.snackBarSuccess {
  color: white;
  background-color: green;
}
.snackBarSuccess .mat-simple-snackbar-action {
  color: white;
}
.snackBarFail {
  color: white;
  background-color: orangered;
}
.snackBarFail .mat-simple-snackbar-action {
  color: white;
}
